.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-close{
  opacity: 0;
}
.con-modal .modal-content{
  background-color: rgb(19,25,29) !important;
}
.con-modal .modal-header{
  border-bottom: 0px;
}
.close span{
  font-size: 25px !important;
  color: white !important;
}

.con-modal a{
  color: white !important;
  font-size: 14px;
  font-weight: lighter !important;
}
.con-modal h6{
  color: white !important;
}
.method-1 img{
  width: 30px !important;
}

.social-icons a {
  color: #fff;
}
.social-icons a:hover {
  color: #f4342f;
}

.modal .modal-dialog {
  margin-top: 50vh !important;
  transform: translateY(-50%) !important;
}
button:not([disabled]) {
  cursor: pointer;
}

.slick-slider {
  margin-top: 30px;
}

.slick-slide .s-card {
  padding: 10px;
}

.cmn-btn {
  cursor: pointer;
}

.mint-input {
  padding: 0;
  line-height: 2em;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  max-width: 150px;
  width: 160px;
}

button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.cmn-btn[disabled] {
  background-color: #5f3454 !important;
  border-color: #5f3454 !important;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-anim {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  border-color: white white transparent white;
  animation: rotate 1s ease 0s infinite;
  vertical-align: middle;
}

.mt-6 {
  margin-top: 80px !important;
}

.team-member {
  margin-bottom: 20px;
  display: flex;
  padding: 0 2px;
}

.team-member img {
  width: 40%;
  height: auto;
  max-width: 360px;
}

.team-member h4,
.team-member h5 {
  text-align: center;
}

.team-member h5 {
  font-weight: 500;
  font-family: sans-serif !important;
}

.team-member .bio {
  background-color: #501639;
  padding: 20px 30px;
  flex: 1;
  text-align: left;
}
.team-member .bio p {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .team-member {
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto 20px;
  }
  .team-member img {
    width: 100%;
    max-width: none;
  }
  .team-member .bio {
    padding: 20px;
  }
  .team-member .bio p {
    font-size: 16px;
  }
}